core-alert-card {
    display: none !important;
}

.core-course-dates {
    display: none !important;
}

.core-customfield.core-customfield_checkbox.core-customfield_local_library_featured {
    display: none !important;
}

ion-chip.core-course-category.ion-text-nowrap.ion-color.ion-color-primary.md.ion-activatable.hydrated {
    display: none !important;
}


core-site-logo {
    display: none !important;
}

ion-title.md.title-default.hydrated {
    display: none !important;
}

span.core-customfieldname {
    display: none !important;
}



