ion-footer .ion-padding {
    padding-bottom: 50px;
}


ion-card.core-info-card ion-item.item {
  
    display: none;
}

/* Hide course dates */
.core-course-dates {
    display: none !important;
}

ion-app span.core-customfieldvalue {
display: none !important;
}

ion-app .core-customfieldvalue {
display: none !important;
}

.core-customfieldvalue {
display: none !important;
}


ion-footer core-alert-card {
    display: none !important;
}


ion-app core-alert-card {
    display: none !important;
}

ion-app .core-course-dates {
    display: none !important;
}

ion-app .core-customfield.core-customfield_checkbox.core-customfield_local_library_featured {
    display: none !important;
}

.core-customfield.core-customfield_checkbox.core-customfield_local_library_featured {
    display: none!important;
}

ion-app ion-chip.core-course-category.ion-text-nowrap.ion-color.ion-color-primary.md.ion-activatable.hydrated {
    display: none !important;
}


core-site-logo {
    display: none !important;
}

ion-title.md.title-default.hydrated {
    display: none !important;
}

span.core-customfieldname {
    display: none !important;
}

ion-app .core-course-dates {
    display: none !important;
}

